{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "proseWrap": "never",
    "printWidth": 200,
    "importOrder": ["^react(.*)", "<THIRD_PARTY_MODULES>", "@/(.*)", "^[./]"],
    "importOrderCaseInsensitive": true,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "bracketSameLine": true,
    "singleAttributePerLine": true
}
